#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  z-index: 10000;
  top: 0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 25px;
  animation: fadeIn 0.4s linear;
}

@keyframes messageRowAppear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: messageRowAppear 0.3s linear forwards;
  animation-delay: 0.4s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  font-size: 15px;
  opacity: 0.8;
}

@keyframes messageRowOwnAppear {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  opacity: 0;
  justify-content: flex-end;
  animation: messageRowOwnAppear 0.3s linear forwards;
  animation-delay: 0.8s;
}

.message-row--own .message__bubble {
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  background-color: var(--yellow);
  margin-right: 0;
  margin-left: 5px;
}

/* bubble과 time의 순서를 바꾸는 방법 1 - 요소들이 flex-children일 경우 가능 */

/* .message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
} */

/* bubble과 time의 순서를 바꾸는 방법 2 */

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 5%;
}

.reply .reply__column:last-child {
  width: 95%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 6px;
  right: -3px;
}

.reply__column:last-child > i {
  transform: scale(1.3);
  top: 21px;
  right: 45px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:first-child i {
  opacity: 0.5;
  margin-top: 5px;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 96vw;
  transform: translateX(-5%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
